{% extends "/base.html.twig" %}
{% block body %}

			{% block slider %}

	<section class="cd-hero" style="padding:0;">
		<ul style="margin-bottom:0; height:250px;" class="cd-hero-slider">
			<li class="selected">
				<div class="cd-full-width caracteristicas-bg" style="padding-top:100px;">
					<h2>Caracteristicas</h2>
					<p>Ventajas de nuestro servicio</p>
				</div> <!-- .cd-full-width -->
			</li>

		</ul> <!-- .cd-hero-slider -->
	</section>	
<div class="col-sm-12 col-md-10 col-md-offset-2" style="padding-top:7%;">
                    <div class="table-responsive trans-usr" >
                        <table class="table table-condensed ">
                            <thead>
                            <tr>
                                <th class="gmp2-1">Servicio de ArgenMining</th>
                                <th class="gmp2-2">Costes y externalidades de tener su propio hardware</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td data-label="Costes de un contrato con Genesis Mining" class="gmp2-1"><span>Precio único de compra del contrato                                        <i class="fa fa-check"></i></span></td>
                                <td data-label="Costes y externalidades de tener su propio hardware" class="gmp2-2"><span>Precio del hardware <i class="fa fa-times"></i></span></td>
                            </tr>
                            <tr>
                                <td data-label="Costes de un contrato con Genesis Mining" class="gmp2-1"><span>Sin costes adicionales <i class="fa fa-check"></i></span></td>
                                <td data-label="Costes y externalidades de tener su propio hardware" class="gmp2-2"><span>Gastos de envío <i class="fa fa-times"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td data-label="Costes de un contrato con Genesis Mining" class="gmp2-1"><span>Sin costes adicionales <i class="fa fa-check"></i></span></td>
                                <td data-label="Costes y externalidades de tener su propio hardware" class="gmp2-2"><span>Posibles gastos de aduana <i class="fa fa-times"></i></span></td>
                            </tr>
                            <tr>
                                <td data-label="Costes de un contrato con Genesis Mining" class="gmp2-1">
                                    <span>Los mejores costes de electricidad posibles. Energía 100% renovable <i class="fa fa-check"></i></span></td>
                                <td data-label="Costes y externalidades de tener su propio hardware" class="gmp2-2"><span>Normalmente, altos costes de electricidad  <i class="fa fa-times"></i></span></td>
                            </tr>
                            <tr>
                                <td data-label="Costes de un contrato con Genesis Mining" class="gmp2-1"><span>¡Usted comienza a minar inmediatamente! <i class="fa fa-check"></i></span></td>
                                <td data-label="Costes y externalidades de tener su propio hardware" class="gmp2-2">
                                    <span>Tiempo de espera hasta la entrega: usted pierde días y hasta semanas de tiempo de minado, mientras que el hardware que ha adquirido ya comienza a perder valor                                         <i class="fa fa-times"></i></span></td>
                            </tr>
                            <tr>
                                <td data-label="Costes de un contrato con Genesis Mining" class="gmp2-1">
                                    <span>Garantizamos un 100% de tiempo de actividad y cubrimos los períodos de inactividad usando nuestros propios equipos de minado.                                        <i class="fa fa-check"></i></span></td>
                                <td data-label="Costes y externalidades de tener su propio hardware" class="gmp2-2">
                                    <span>Pérdida de tiempo de minado a causa de períodos de inactividad del sistema <i class="fa fa-times"></i></span></td>
                            </tr>
                            <tr>
                                <td data-label="Costes de un contrato con Genesis Mining" class="gmp2-1"><span>Sin costes adicionales <i class="fa fa-check"></i></span></td>
                                <td data-label="Costes y externalidades de tener su propio hardware" class="gmp2-2"><span>Coste del equipo adicional <i class="fa fa-times"></i></span></td>
                            </tr>
                            <tr>
                                <td data-label="Costes de un contrato con Genesis Mining" class="gmp2-1"><span>Sin costes adicionales <i class="fa fa-check"></i></span></td>
                                <td data-label="Costes y externalidades de tener su propio hardware" class="gmp2-2">
                                    <span>Consumo eléctrico del equipo adicional <i class="fa fa-times"></i></span></td>
                            </tr>
                            <tr>
                                <td data-label="Costes de un contrato con Genesis Mining" class="gmp2-1"><span>Sin costes adicionales <i class="fa fa-check"></i></span></td>
                                <td data-label="Costes y externalidades de tener su propio hardware" class="gmp2-2"><span>Coste de refrigeración <i class="fa fa-times"></i></span></td>
                            </tr>
                            <tr>
                                <td data-label="Costes de un contrato con Genesis Mining" class="gmp2-1">
                                    <span>El hardware está en una ubicación remota y usted evita el calor excesivo que desprenden los equipos                                        <i class="fa fa-check"></i></span></td>
                                <td data-label="Costes y externalidades de tener su propio hardware" class="gmp2-2"><span>Calor excesivo <i class="fa fa-times"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td data-label="Costes de un contrato con Genesis Mining" class="gmp2-1">
                                    <span>El hardware está en una ubicación remota y usted no tiene que soportar el alto ruido que generan los equipos                                        <i class="fa fa-check"></i></span></td>
                                <td data-label="Costes y externalidades de tener su propio hardware" class="gmp2-2"><span>Ruidos altos <i class="fa fa-times"></i></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p style="color:#ccc; font-size:12px; margin-bottom:30px;">*tabla de beneficios del cloud mining con respecto al mining convencional obtenida de Genesis Mining.</p>
                </div>
			{% endblock slider %}
			{% block footer %}
			    <footer>
			            <div class="footer-below">
			            <div  class="container">
			                <div class="row">
			                    <div class="col-lg-12" align="center">
			                        Copyright &copy; BTC Argentina 2017 - Todos los derechos reservados
			                    </div>
			                </div>
			            </div>
			        </div>
			    </footer>
			{% endblock footer %}
	{% endblock body %}