{% extends "/base-controlPanel.html.twig" %}
{% block bodyPanel %}

			            <div class="row">
			                <div class="col-lg-10 text-center">
			                    <h2>Soporte tecnico</h2>
			                    <hr class="star-primary">
			                </div>

{% endblock bodyPanel %}