{% extends "/base-adminPanel.html.twig" %}
{% block bodyPanel %}
	<div class="row">
	    <div class="col-lg-10 text-center">
	        <h2>ADMIN PANEL</h2>
	        <hr class="star-primary">
	    </div>
	</div>
	<div class="row">
		<div class="col-lg-8">
		Skype: btcargentina <br>
		whatsapp: +51 3804 441592
		</div>
	</div>
{% endblock bodyPanel %}